body,
html {
  height: 100%;
}
hr{
    color: #e0dddd!important;
}
.box {
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 10px;
  min-height: 200px;
}
.click-link{
    cursor: pointer;
}
.left-tools {
  width: 10%;
  color: #fff;
  position: absolute;
  top: 10%;
  padding: 10px;
}

.left-tools a {
  color: #f76913;
  display: block;
}

.right-tools {
  width: 10%;
  color: #fff;
  position: absolute;
  top: 10%;
  right: 0;
  padding: 10px;
}

.blueimp-gallery {
  background: rgba(4, 61, 89, 0.8901960784313725);
  max-height: 100vh;

}
.text-center{
    text-align: center;
}
.indicator {
  display: none !important;
}

.tag {
  margin-right: 10px;
  float: left;
  background-color: #f76913;
  padding: 2px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 7px;
  color: #fff;
}

.blueimp-gallery>.slides>.slide>.slide-content {
  margin: auto;
  width: auto;
  height: auto;
  max-width: 1000px;
  max-height: 600px;
  opacity: 1;

  margin-top: 250px;
}
.loader {
    text-align: center;
    margin-top: 200px;
    font-size: 25px;
}
.blueimp-gallery>.slides>.slide {
  position: relative;
  float: left;
  height: 100%;
  text-align: center;
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -ms-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.info-box {
    float: right;
    background-color: #013957;
    color: #fff;
    padding: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 12px;
}
.info-box p{
    margin: 0;
    
}
input.search-box {
    float: left;
    border: 1px solid #a5a2a2;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.react-blueimp-thumbnails {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin: -2.5px; }
    .react-blueimp-thumbnails:after {
      content: '';
      flex-grow: 999999999;
      min-width: 300px;
      height: 0; }
    .react-blueimp-thumbnails > * {
      position: relative;
      display: block;
      height: 300px;
      margin: 2.5px;
      flex-grow: 1; }
      .react-blueimp-thumbnails > * > img {
        height: 300px;
        object-fit: cover;
        max-width: 100%;
        min-width: 100%;
        vertical-align: bottom; }
    .react-blueimp-thumbnails.react-blueimp-thumbnails-margin {
      margin: 2.5px; }
    @media (max-width: 980px) {
      .react-blueimp-thumbnails {
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        margin: -2.5px; }
        .react-blueimp-thumbnails:after {
          content: '';
          flex-grow: 999999999;
          min-width: 150px;
          height: 0; }
        .react-blueimp-thumbnails > * {
          position: relative;
          display: block;
          height: 150px;
          margin: 2.5px;
          flex-grow: 1; }
          .react-blueimp-thumbnails > * > img {
            height: 150px;
            object-fit: cover;
            max-width: 100%;
            min-width: 100%;
            vertical-align: bottom; }
        .react-blueimp-thumbnails.react-blueimp-thumbnails-margin {
          margin: 2.5px; } }
    @media (max-width: 400px) {
      .react-blueimp-thumbnails {
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        margin: -2.5px; }
        .react-blueimp-thumbnails:after {
          content: '';
          flex-grow: 999999999;
          min-width: 100px;
          height: 0; }
        .react-blueimp-thumbnails > * {
          position: relative;
          display: block;
          height: 100px;
          margin: 2.5px;
          flex-grow: 1; }
          .react-blueimp-thumbnails > * > img {
            height: 100px;
            object-fit: cover;
            max-width: 100%;
            min-width: 100%;
            vertical-align: bottom; }
        .react-blueimp-thumbnails.react-blueimp-thumbnails-margin {
          margin: 2.5px; } }